{% load static %}
<header class="header">
    <div class="header-div-1">
        <div>
            <a href="#home">
                <img src="{% static 'img/AssisTech dark.png' %}" alt="Logo">
            </a>
        </div>
    </div>
    <div class="shortcuts-div">
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Doações</a></li>
            <li><a href="#">Trabalhe conosco</a></li>
            <li><a href="#">Login</a></li>
          </ul>
    </div>
</header>
