* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    height: 150px;
    background-color: #3cc88f;
    display: flex;
}

.nav-logo img {
    width: 100px;
}

.nav-public-page {
    width: 30%;
    margin-right: 50px;
}
