@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  padding: 1px;

  width: 5px;

  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;

  background-color: #3cc88f;
}

.table-container {
  width: 80%;
}

.card-header {
  background-color: #bebebe;
}

.table tbody {
  align-items: center;
  font-size: 16.5px;
}



.filters-input {
  border-radius: 5px;
  outline: 0;
}


.dashboard-alert {
  z-index: 3;
  right: 0%;
}

.btn-custom{
    background-color: #3cc88f !important;
    border: #edf1f5 !important;}

.edit-custom{
  background-color: white !important;
  color: #3cc88f !important;
  border-color: #3cc88f !important;}

.edit-custom:hover {
  background-color: #3cc88f !important;
  color: white !important;
}

.btn-customized {
  width: 45px !important;
}

@media screen and (max-width: 1400px) {
  .table-container {
    width: 90%;
  }
}