@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  scroll-behavior: smooth;

  font-family: 'Poppins', sans-serif;

  outline: none;
}

body {
  height: 100vh;

  background-color: #fff;

  overflow: overlay;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  padding: 1px;

  width: 5px;

  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;

  background-color: #3cc88f
}

.header {
  padding: 7px;

  width: 100%;
  height: 100px; 

  border-bottom: 3px solid #3cc88f;

  background-color: #edf1f5;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;

  z-index: 3;
}

.header img {
  margin: auto;

  width: 100px;
  
}
.header-div-1 {
  margin: 0 0 -30px 100px;
  padding: 40px 0 0 0;

  width: 150px;
  height: 180px;

  border-bottom-right-radius: 15px;

  background: #3cc88f;

  /* clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%); */

  display: grid;
}
.header-div-1 div {
  display: grid;
  justify-content: center;
}

.header-div-1::after {
  margin: 120px 0 0 -1px;

  position: absolute;

  height: 31px;
  width: 148px;

  content: "";

  transform: rotate(-10deg);

  border-top-left-radius: 13px; 
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;

  background-color: #3cc88f;

  overflow: hidden;
}
.header-div-1 div a {
  padding: 20px 0 0 0;
}
.header a {
  margin: 0 5px;

  color: #000;

  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;

}




/* Header shortcuts */
.shortcuts-div {
  margin: 20px 0 0 0;

  width: 70%;
  height: 60%;


  float: right;
}
.shortcuts-div ul {  
  
  text-align: right;
  
  list-style: none;

  display: flex;
  justify-content: right;

  align-items: center;
}

.shortcuts-div li { 
  padding: 10px 0;

  margin: 0 20px;

  position: relative; 
  
  display: table-cell; 
}

.shortcuts-div a {  
  text-decoration: none;
  letter-spacing: 0.15em;
  
  color: #000;
  
  position: relative;
  
  display: inline-block;
}
.shortcuts-div a:after {    
  bottom: 0;
  
  width: 0;
  height: 2px;

  background: none repeat scroll 0 0 transparent;
  
  content: "";
  position: absolute;
  
  background: #3cc88f;
  
  display: block;
  
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.shortcuts-div a:hover:after { 
  width: 100%; 
  left: 0; 
}




/* Content */
main {
  width: 100%;
}

.home-section {
  height: 690px;

  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/backgroundV2.jpg);

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  color: #fff;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.p-holder-left {
  width: 53%;
  height: 220px;

  float: left;
}
.p-holder-left p:nth-child(1) {
  padding: 12px 0 0 12px;

  font-size: 2.8rem;
  font-weight: 800;
  font-family: 'Poppins', sans-serif;

  text-shadow: 2px 2px 3px #000;

  border-radius: 10px;
}
.p-holder-left p:nth-child(2){
  padding: 0 12px 12px 12px;

  opacity: .7;
}


.home-section a, .home-section .btn {
  width: 35%;

  padding: 8px 20px;

  border-color: #3cc88f;
  border-radius: .3rem;

  font-size: 35px;

  background-color: #3cc88f;

  
  transition: .35s ease-out;
}




/* About */
.about-section {
  margin: auto;

  height: 500px;

  border-top: 3px solid #3cc88f;
  border-bottom: 3px solid #3cc88f;

  background-color: #3a3a3a
}
.h1-holder-about {
  width: 235px;

  margin: 45px 0 0 65px;

  color: #fff;
}
.h1-holder-about h1 {
  width: 97px;
  height: 86px;

  border-bottom: 3px solid #3cc88f;
  
  font-size: 5rem;

  color: #000
}

.about-section p {
  margin: 50px 0 0 65px;

  width: 75%;

  font-size: 1.1rem;

  color: #000;

}
.holder-about {
  height: 100.2%;

  background-image: #2c2c2c;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.p-holder-about {

  width: 75%;
  height: 100%;

  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);


  background-color: #edf1f5;
  background-size: cover;
}

.info-holder {
  margin: 0 auto; 

  width: 25%;
  
  font-size: 20rem; 
  
  color: #3cc88f;
}

.container {
  bottom: 0;
  background-color: transparent;
}





/* Donate section */

.content {
  margin: auto;

  width: 100%;
  height: 600px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
  background-color: #edf1f5;
}

.text {
  margin: 40px;
  padding: 20px;
  
  width: 40%;
}

.text p {
  padding: 30px;
  font-size: 2.3rem;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
  color: #25283a;
  border-radius: 25px;
}

.donate { 
  margin-right: 100px;
  padding: 25px;
  
  width: 50%;
  
  color: white;
  
  height: 450px;
  border-radius: 25px;

  align-items: center;
  justify-content: center;
}

.donate h2 {
  margin: auto;
  padding-bottom: 5px;
  
  width: 180px;
  
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 2rem;

  color: #25283a;
}

.buttons {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button i {
  font-size: 50px;
  color: black;
  width: 100%;
}

.credit-card {
  border: none;
  width: 230px;
  height: 230px;
  border-radius: 20px;
  background-color: white;
  color: #25283a;
  margin-right: 30px;
  box-shadow: inset 0 0 0 0 #1890ff;
  transition: .3s ease-in-out;
}

.credit-card:hover {
  box-shadow: inset 230px 0 0 0 #1890ff;
  cursor: pointer;
  color: white;
}

.credit-card:hover > i {
  transition: .3s ease-in-out;
  color: white;
}

.credit-card p {
  margin-top: 25px;
  font-size: 20px;
}

.pix {
  border: none;
  width: 230px;
  height: 230px;
  border-radius: 20px;
  background-color: white;
  color: #25283a;
  margin-right: 30px;
  transition: .3s ease-in-out;
}

.pix:hover {
  box-shadow: inset 230px 0 0 0 #4bb8a9;
  cursor: pointer;
  color: white;
}

.pix:hover > img {
  transition: .3s ease-in-out;
  filter:  brightness(0) invert(1);
}

.pix p {
  margin-top: 25px;
  font-size: 20px;
}

.pix img {
  width: 50px;
}

.boleto {
  border: none;
  width: 230px;
  height: 230px;
  border-radius: 20px;
  background-color: white;
  color: #25283a;
  transition: .3s ease-in-out;
}

.boleto:hover {
  box-shadow: inset 230px 0 0 0 #e76767;
  cursor: pointer;
  color: white;
}

.boleto:hover > i {
  transition: .3s ease-in-out;
  color: white;
}

.boleto p {
  margin-top: 25px;
  font-size: 20px;
}

.pagamento {
  background-color: #fff;
  width: 600px;
  height: 480px;
  border-radius: 15px;
  padding: 20px;
  position: absolute;
  margin-left: 100px;
  display: none;
  opacity: 0;
}

.pagamento h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #25283a;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input {
  height: 40px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-bottom: 15px;
  background-color: white;
  border: 1px solid #808080c9;
  color: #25283a;
  padding: 10px;
}

input::placeholder {
  color: #25283a;
}

.pagamento .inputs .input-number {
  border-radius: 5px;
  width: 100%;
  background-color: white;
  margin-bottom: 15px;
  border: 1px solid #808080c9;
}

.pagamento .inputs .input-number i {
  font-size: 20px;
  padding: 12px 0 12px 5px;
  color: #25283a;
}

.pagamento .inputs .input-number input {
  margin: 0 0 0 5px;
  width: 93%;
  border: none;
  outline: none;
}

.pagamento .inputs .input-cvv {
  width: 100%;
  height: 45px;
  margin-bottom: 15px;
}

.pagamento .inputs .input-cvv input {
  width: 40%;
  border: none;
  outline: none;
  border: 1px solid #808080c9;
}

.pagamento .inputs .input-date {
  width: 100%;
}

.pagamento .inputs .input-date input {
  width: 40%;
}

.pagamento .inputs .input-date input:nth-child(3) {
  width: 30%;
}

.pagamento .inputs .input-data {
  width: 100%;
}

.pagamento .inputs .input-data input {
  width: 60%;
}

.pagamento .inputs .input-data input:nth-child(2) {
  width: 39%;
}

.pagamento .inputs .button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.pagamento .inputs .button button {
  width: 50%;
  height: 40px;
  border: none;
  outline: none;
  background-color: #3cc88f;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.title {
  display: flex;
  justify-content: space-between;
}

.title h2 {
  width: 100%;
  text-align: center;
}

.title i {
  font-size: 30px;
  cursor: pointer;
}

/* - - - */
.test {
  position: absolute;
  background: #fff;
  left: 0;
  transition: all .3s linear;
}

.test2 {
  position: absolute;
  background: #fff;
  left: 0;
  transition: all .3s linear;
}

.moved {
  left: 45%;
  display: block;
  opacity: 1;
  transition: all .3s linear;
}

.map-section {
  padding: 50px;
  background-color: #edf1f5;
  border-top: 2px solid #3cc88f;
}

.map-holder {
  display: flex;
  justify-content: space-between;
  margin: 0 100px;
}

.map {
  width: 40%;
  height: 20rem;
  border-radius: 10px;
  z-index: 1;
}

.info {
  margin-top: 75px;
  width: 40%;
}

.info p {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
  color: #25283a;
}

.contact i {
  margin-right: 10px;
}

.select-amount {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.select-box {
  position: relative;
  float: left;
  width: 25%;
  padding: 0px 10px;
  text-align: center;
}

.select-box2 {
  position: relative;
  float: left;
  width: 25%;
  padding: 0px 10px;
  text-align: center;
}

.input {
  left: 0px;
  top: 0px;
  visibility: hidden;
  position: absolute;
  opacity: 0;
}

.input:checked {
  background-color: #3cc88f;
}

.input2 {
  left: 0px;
  top: 0px;
  visibility: hidden;
  position: absolute;
  opacity: 0;
}

.input2:checked {
  background-color: #3cc88f;
}

label {
  display: block;
  line-height: 24px;
  padding: 12px 10px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color: #25283a;
  border: 1px solid #e0e0e0;
  cursor: pointer;
  border-radius: 5px;
  transition: all .15s ease;
  font-family: 'Roboto', sans-serif;
  color: #25283a;
}

.select-box .input[type="radio"]:checked+label {
  background: #3cc88f;
  border-color: #3cc88f;
  color: white;
}

.select-box2 .input2[type="radio"]:checked+label {
  background: #3cc88f;
  border-color: #3cc88f;
  color: white;
}

.pagamento-pix {
  background-color: #fff;
  width: 600px;
  height: 350px;
  border-radius: 15px;
  padding: 20px;
  position: absolute;
  margin-left: 100px;
  display: none;
}

.title-pix {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.title-pix h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #25283a;
  width: 100%;
  text-align: center;
}

.title-pix i {
  font-size: 30px;
  cursor: pointer;
}

.inputvalue-pix {
  width: 100%;
}

.button-pix {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.button-pix button {
  width: 50%;
  height: 40px;
  border: none;
  outline: none;
  background-color: #3cc88f;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.index-alert{
  z-index: 5;
  position: fixed;
  top: 120;
  right: 20;
}

.dados {
  border-top: 2px solid #3cc88f;
}

.content-dados {
  width: 100%;
  height: 600px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
  background-color: #edf1f5;
}

.text-dados {
  width: 40%;
  margin-left: 100px;
}

.text-dados h1 {
  font-size: 50px;
  margin-bottom: 50px;
}

.text-dados b {
  border-bottom: 3px solid #3cc88f;
}

.text-dados p {
  font-size: 20px;
}

.cards {
  width: 50%;
  display: flex;
  justify-content: center;
}










.helped {  
  width: 100%;
  height: 110px;
  
  border: none;
  border-radius: 20px;
  
  color: #fff;
  
  border-color: #3cc88f;
  border-radius: 10px;

  font-size: 35px;

  background-color: #3cc88f;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.helped  .h-div1 {
  margin: 0 0 0 20px;

  font-size: 3rem;
}
.helped  .h-div2 {
  margin: 0 10px 0 30px;
  padding: 20px 0 15px 0;

  width: 100%;
  height: 100%;

  font-size: 12px;
}
.helped  .h-div2 span{
  margin: 0 20px 0 0;

  width: 100%;

  font-size: 24px;
}
.helped p {
  margin-top: 5px;
  font-size: 24px;
}

.col-mod {
  width: 350px !important;
}

