* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  background-image: url(../img/backgroundV2.jpg);
  background-size: cover;
}

::-webkit-scrollbar {
  padding: 1px;

  width: 5px;

  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;

  background-color: #3cc88f;
}

.card-header img {
  width: 250px;
}

.map {
  display: none;
}
