{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'styles/_nav_dashboard.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="{% static 'vendor/AdminLTE/plugins/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/AdminLTE/plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/AdminLTE/dist/css/adminlte.min.css' %}">
    <link rel="shortcut icon" href="{% static 'img/logo ps.png' %}" type="image/x-icon">
    <title>Dashboard</title>
</head>
<body>
    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Tem certeza de que deseja excluir este relato?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Se você clicar em excluir este relato ele será excluido para sempre!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <a href="" id="id_delete" class="btn btn-danger">Excluir</a>
      </div>
    </div>
  </div>
</div>
  {% include 'partials/_nav_dashboard.html' %}
  {% if messages %}
    {% for message in messages %}
    <div class="dashboard-alert alert {{message.tags}} alert-dismissible fade show w-25 mr-3 mt-3 position-absolute " role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
  {% endif %}
    <div class="table-container card mt-4 mx-auto">
      <div class="card-header clearfix d-flex pb-2.5">
        <div class="row d-flex">
          <div class="col">
            <form method="get" class="form-inline">
                {% render_field myFilter.form.nome placeholder="Nome" class="filters-input form-control d-block p-1 mx-1" id="filter-name" autocomplete="off" %}
                {% render_field myFilter.form.cpf placeholder="CPF" class="filters-input form-control d-block p-1 mx-1" id="cpf" autocomplete="off" %}
                {% render_field myFilter.form.categoria class="filters-input form-control d-block p-1 mx-1" id="filter-category" %}
              <button class="btn btn-primary ml-2 btn-custom" type="submit">Pesquisar</button>
              {% if myFilter.form.categoria.value or myFilter.form.cpf.value or myFilter.form.nome.value %}
                <a class="btn btn-secondary ml-2 btn-custom" href="/dashboard/">Limpar</a>
              {% endif %}
            </form>
          </div>
        </div>
      </div>
      <div class="card-body p-0">
        <div class="table-responsive">
          <table class="table m-0">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Data de Criação</th>
                <th>Status</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              {% for relato in relatos %}
              <tr>
                <td>{{ relato.id }}</td>
                <td>{{ relato.nome }}</td>
                <td>{{ relato.cpf }}</td>
                <td>{{ relato.data_criacao }}</td>
                <td>{{ relato.categoria }}</td>
                <td class="py-lg-2">
                  <a href="detail/{{ relato.id }}/" class="btn btn-outline-secondary btn-customized">
                    <i class="fas fa-search"></i>
                  </a>
                  <a href="edit/{{ relato.id }}/" class="btn edit-custom btn-customized">
                    <i class="fas fa-edit"></i>
                  </a>
                  <a href="https://www.google.com.br/maps/search/{{relato.local}}/" class="btn btn-outline-primary btn-customized" target="_blank">
                    <i class="fas fa-map-marker-alt"></i>
                  </a>
                  <button type="button" onClick="relatoDelete('{{ relato.id }}')" class="btn btn-outline-danger btn-customized" data-toggle="modal" data-target="#exampleModal">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-footer clearfix d-flex pb-0">
        <nav class='nav-pag w-25' aria-label="Page navigation example">
          <ul class="pagination p-0">
            {% for pagina in relatos.paginator.page_range %}
            {% if relatos.number == pagina %}
              <li class="page-item active">
                <a href="?page={{pagina}}" class="page-link btn-custom">{{pagina}}</a>
              </li>
            {% else %}
              <li class="page-item">
                <a class="page-link" href="?page={{pagina}}">{{pagina}}</a>
              </li>
            {% endif %}
            <!-- ADICIONAR UM BOTÃO DE NEXT E PREVIOUS(CASO FOR PAGINA 1 NÃO DEVERÁ HAVER PREVIOUS) -->
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>
      
      <script src="{% static 'vendor/AdminLTE/plugins/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'vendor/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'vendor/AdminLTE/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>
      <script src="{% static 'vendor/AdminLTE/dist/js/adminlte.js' %}"></script>
      <script src="{% static 'vendor/AdminLTE/plugins/jquery-mousewheel/jquery.mousewheel.js' %}"></script>
      <script src="{% static 'vendor/AdminLTE/plugins/raphael/raphael.min.js' %}"></script>
      <script src="{% static 'vendor/AdminLTE/plugins/jquery-mapael/jquery.mapael.min.js' %}"></script>
      <script src="{% static 'vendor/AdminLTE/plugins/jquery-mapael/maps/usa_states.min.js' %}"></script>
      <script src="{% static 'vendor/AdminLTE/plugins/chart.js/Chart.min.js' %}"></script>
      <script src="{% static 'vendor/AdminLTE/dist/js/demo.js' %}"></script>
      <script src="{% static 'vendor/bootstrap/bootstrap.bundle.js' %}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="{% static 'vendor/jQuery/dist/jquery.mask.min.js' %}"></script>
  <script>
    $(document).ready(function(){
      $('#cpf').mask('000.000.000-00')
    })
    function relatoDelete(id){
      var link = document.querySelector("#id_delete");
      link.setAttribute("href", "delete/" + id + "/");
    }
  </script>
</body>
</html>
