{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/_nav_dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'styles/detalhe.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="{% static 'vendor/AdminLTE/plugins/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/AdminLTE/plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/AdminLTE/dist/css/adminlte.min.css' %}">
    <link rel="shortcut icon" href="{% static 'img/logo ps.png' %}" type="image/x-icon">
    <title>Dashboard</title>
</head>
<body>
  {% include 'partials/_nav_dashboard.html' %}  

  <div class="main-h1-holder-3">
    <div>
      <div class="card w-50 mx-auto mt-5">
        <div class="card-head">
          <h3 class="card-title">Informaçãoes do Relato {{relato.id}}</h3>
        </div>
        <div class="card-body dark">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-user mr-2"></i>Nome
              </span>
            </div>
            <input type="text" class="form-control" placeholder="{{relato.nome}}" disabled>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-address-card mr-2"></i>CPF
              </span>
            </div>
            <input type="text" class="form-control" placeholder="{{relato.cpf}}" disabled>
          </div>
          
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-phone mr-2"></i>Telefone
              </span>
            </div>
            <input type="text" class="form-control" data-inputmask="'mask': ['999-999-9999 [x99999]', '+099 99 99 9999[9]-9999']" data-mask="" inputmode="text" placeholder="{{relato.telefone}}" disabled>
          </div>
          
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-envelope mr-2"></i>Email
              </span>
            </div>
            <input type="email" class="form-control" placeholder="{{relato.email}}" disabled>
          </div>
          
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-calendar-alt mr-2"></i>Data de criação
              </span>
            </div>
            <input type="text" class="form-control" placeholder="{{relato.data_criacao}}" disabled>
          </div>
          
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-tags mr-2"></i>Categoria
              </span>
            </div>
            <input type="text" class="form-control" placeholder="{{relato.categoria}}" disabled>
          </div>
          
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-map-marker-alt mr-2"></i>Local
              </span>
            </div>
            <input type="text" class="form-control" placeholder="{{relato.local}}" disabled>
          </div>

          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fas fa-comment-dots mr-2"></i>Descrição
              </span>
            </div>
            <textarea name="descricao" class="form-control" cols="40" rows="5" placeholder="{{relato.descricao}}" disabled></textarea>
          </div>
          <div class="card-footer mt-3 rounded">
            <a href="{% url 'dashboard' %}" class="btn btn-danger">Voltar</a>
            <a href="/dashboard/edit/{{relato.id}}/"class="btn btn-success float-right">Editar</a>
          </div>
        </div>
</body>