{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/_nav_dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'styles/detalhe.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="{% static 'vendor/AdminLTE/plugins/fontawesome-free/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/AdminLTE/plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/AdminLTE/dist/css/adminlte.min.css' %}">
    <link rel="shortcut icon" href="{% static 'img/logo ps.png' %}" type="image/x-icon">
    <title>Dashboard</title>
</head>
<body>
  {% include 'partials/_nav_dashboard.html' %}  

<div class="main-h1-holder-3">
    <div>
      <div class="card w-50 mt-5 mx-auto">
        <div class="card-head">
            <h1 class="card-title">Informaçãoes do Relato {{relato.id}}</h1>
        </div>
        <div class="card-body dark">
            <form action="/dashboard/update/{{relato.id}}/" method="POST">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                             <i class="fas fa-user mr-2"></i>Nome
                        </span>
                    </div>
                    {% render_field form.nome readonly="on" %}
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-address-card mr-2"></i>CPF
                        </span>
                    </div>
                    {% render_field form.cpf readonly="on" %}
                </div>
            
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-phone mr-2"></i>Telefone
                        </span>
                    </div>
                    {% render_field form.telefone readonly="on" %}
                </div>
            
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-envelope mr-2"></i>Email
                        </span>
                    </div>
                    {% render_field form.email readonly="on" %}
                </div>
            
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-calendar-alt mr-2"></i>Data de criação
                        </span>
                    </div>
                    {% render_field form.data_criacao readonly="on" %}
                </div>
            
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-tags mr-2"></i>Categoria
                        </span>
                    </div>
                    {% render_field form.categoria %}
                </div>
            
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-map-marker-alt mr-2"></i>Local
                        </span>
                    </div>
                    {% render_field form.local readonly="on"%}
                </div>

                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fas fa-comment-dots mr-2"></i>Descrição
                        </span>
                    </div>
                    {% render_field form.descricao rows="5" readonly="on" %}
                </div>
                <div class="card-footer">
                    <a href="{% url 'dashboard' %}" class="btn btn-danger">Cancelar</a>
                    <button type="submit" class="btn btn-success float-right">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>