{% load static %}

{% include 'partials/_head.html' %}

<head>
  <title>AssisTech</title>
<link rel="stylesheet" type="text/css" href="{% static 'styles/index.css' %}">
</head>

<body>
  {% if messages %}
    {% for message in messages %}
      <div class="index-alert alert {{message.tags}} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
  {% endif %}
  <header class="header">
    <div class="header-div-1">
      <div>
        <a href="#home">
          <img src="{% static 'img/AssisTech dark.png' %}" alt="Logo">
        </a>
      </div>
    </div>
    <div class="shortcuts-div mr-5">

      <ul>
        <li><a href="#home">Inicio</a></li>
        <li><a href="#donate">Doações</a></li>
        <li><a href="#map">Localização</a></liass=>
        <li><a href="#dados">Pessoas Ajudadas</a></li>
        <li><a href="{% url 'login' %}">Login</a></li>
      </ul>

    </div>
  </header>

  <main>
    <section id="home" class="home-section">
      <div class="p-holder-left">
        <p>
          Eles precisam da sua ajuda!
        </p>
        <p>
          Enquanto você está na sua casa, milhares de pessoas moram na rua mesmo durante o imenso frio do inverno, mesmo
          durante o intenso calor do verão, mesmo com a enorme fome que sentem, eles precisam da nossa ajuda! Se você
          souber da localização de algum morador de rua, relate!
        </p>
        

          <a href="{% url 'report' %}" type="button" class="btn btn-block btn-success btn-lg" style="width: 300px;">
            <i class="fas fa-compass"></i>
            Relatar
          </a>
        
      </div>
    </section>
    
    <section class="about-section">
      
      <div class="holder-about">
        <div class="p-holder-about">
          <div class="h1-holder-about">
            <h1>Sobre</h1>
          </div>
          <p>
            A AssisTech é um software que tem como objetivo auxiliar o Centro Pop, que é uma instituição que auxilia os
            moradores de rua dando um lar para eles,
            informando a eles a localização de moradores de ruas para serem acolhidos através de relatos feitos por
            cidadãos da cidade de Blumenau.
          </p>
          <p>
            A inspiração para nosso projeto teve vida quando um membro do grupo contou que havia um morador de rua
            vivendo perto da sua casa, indignados com essa situação pensamos,
            por que não fazemos um site para pessoas relatarem onde vivem estes moradores para que o centro Pop possa
            oferecer a eles uma casa.
          </p>
        </div>
        
        <div class="info-holder">
          <!-- <img src="./imgs/info_icon_blue.png" alt=""> -->
          <i class="bi bi-info-circle"></i>
        </div>
      </div>
      
    </section>
    
    
    <section id="donate" class="content">
      
      <div class="text">
        <p>
          Faça sua doação e ajude a quem precisa!
        </p>
      </div>

      <div class="pagamento test" id="test">
        <div class="title">
          <h2>Cartão de Crédito</h2>
          <i class="bi bi-x" id="buttonClose" onclick="closeX()" ></i>
        </div>
        <div class="select-amount">
          <div class="select-box"><input type="radio" class="input" name="payment-group" id="radio-one"><label for="radio-one">R$ 10</label></div>
          <div class="select-box"><input type="radio" class="input" name="payment-group" id="radio-two"><label for="radio-two">R$ 20</label></div>
          <div class="select-box"><input type="radio" class="input" name="payment-group" id="radio-three"><label for="radio-three">R$ 50</label></div>
          <div class="select-box"><input type="radio" class="input" name="payment-group" id="radio-four"><label for="radio-four">R$ 100</label></div>
      </div>
        <div class="inputs">
            <div class="input-number">
                <i class="fas fa-credit-card"></i><input type="number" placeholder="Número do cartão" id="inputCard">
            </div>
            <div class="input-cvv">
                <input type="number" placeholder="CVV">
            </div>
            <div class="input-date">
                <input type="text" list="month" placeholder="Mês Validade">
                <datalist id="month">
                    <option>Janeiro</option>
                    <option>Fevereiro</option>
                    <option>Março</option>
                    <option>Abril</option>
                    <option>Maio</option>
                    <option>Junho</option>
                    <option>Julho</option>
                    <option>Agosto</option>
                    <option>Setembro</option>
                    <option>Outubro</option>
                    <option>Novembro</option>
                    <option>Dezembro</option>
                </datalist>
                <input type="text" list="year" placeholder="Ano Validade">
                <datalist id="year">
                    <option>2021</option>
                    <option>2022</option>
                    <option>2023</option>
                    <option>2024</option>
                    <option>2025</option>
                    <option>2026</option>
                    <option>2027</option>
                    <option>2028</option>
                    <option>2029</option>
                    <option>2030</option>
                    <option>2031</option>
                    <option>2032</option>
                    <option>2033</option>
                    <option>2034</option>
                    <option>2035</option>
                </datalist>
            </div>
            <div class="input-data">
                <input type="text" placeholder="Nome do titular do cartão">
                <input type="tel" name='cpf' placeholder="CPF" id="cpf" autocomplete="off">
            </div>
            <div class="button">
                <button id="buttonClose" onclick="closeX()">CONTINUAR</button>
            </div>
        </div>
      </div>

      <div class="pagamento-pix test2" id="test2">
        <div class="title-pix">
          <h2>PIX</h2>
          <i class="bi bi-x" id="buttonClose2" onclick="closeX2()" ></i>
        </div>
        <div class="select-amount">
          <div class="select-box2"><input type="radio" class="input2" name="payment-group" id="radio-one2"><label for="radio-one2">R$ 10</label></div>
          <div class="select-box2"><input type="radio" class="input2" name="payment-group" id="radio-two2"><label for="radio-two2">R$ 20</label></div>
          <div class="select-box2"><input type="radio" class="input2" name="payment-group" id="radio-three2"><label for="radio-three2">R$ 50</label></div>
          <div class="select-box2"><input type="radio" class="input2" name="payment-group" id="radio-four2"><label for="radio-four2">R$ 100</label></div>
        </div>
        <div class="inputvalue">
          <input type="number" placeholder="ou informe um valor" class="inputvalue-pix">
        </div>
        <div class="button-pix">
          <button id="closeX2" onclick="closeX2()">CONTINUAR</button>
        </div>
      </div>

      <div class="donate" id="donate">
        <h2 id="title">Doações</h2>
        <div class="buttons" id="buttons">
          <button class="btn credit-card" onclick="move(), creditCard()" >
            <i class="far fa-credit-card"></i>
            <p>Cartão de Crédito</p>
          </button>
          <button class="btn pix" onclick="move2(), pix()"><img src="{% static 'img/pix.png' %}" alt="">
            <p>PIX</p>
          </button>
          <button class="btn boleto"><i class="fas fa-barcode"></i>
            <p>Boleto</p>
          </button>
        </div>
      </div>

    </section>



    <section class="dados" id="dados">

      <div class="content-dados">
          <div class="text-dados">
              <h1><b>Pessoas</b> Ajudadas</h1>
              <p>
                Nesta parte conseguimos analisar as métricas de <strong>relatos feitos</strong> e <strong>pessoas ajudadas</strong>. Com esses números podemos realmente ver a diferença que esse software faz na nossa cidade!
              </p>
          </div>
          <div class="cards">
              <div class="col-mod">
                  
                <div class="helped mb-3 bg-info">
                  <div class="h-div1">
                    <i class="far fa-comment-dots"></i>
                  </div>
                  <div class="h-div2">
                    <span><b>Relatos feitos</b></span>
                    <p>{{ total_relatos }}</p>
                  </div>
                </div>
                  
                  
                  <div class="helped">
                    <div class="h-div1">
                      <i class="far fa-heart"></i>
                    </div>
                    <div class="h-div2">
                      <span>
                        <b>Pessoas ajudadas</b>
                        <p>{{ pessoas_ajudadas }}</p>
                      </span>
                      
                    </div>
                  </div>
              </div>
          </div>
      </div>

  </section>

    <section class="map-section">

      <div class="map-holder">

        <div class="info">
          <h1>Contato</h1>
          <div class="contact">
            <p><i class="fas fa-clock"></i><span><strong>Horário:</strong> Seg. a Sex. | 7:00 - 16:00</span></p>
            <p><i class="fas fa-phone"></i><span><strong>Telefone:</strong> (47) 3381-6509</span></p>
            <p><i class="fas fa-map-marker-alt"></i><span><strong>Endereço:</strong> Rua Clara Persuhn, 192 - Blumenau/SC</span></p>
          </div>
        </div>
        <div class="map" id="map">

        </div>

      </div>

    </section>

  </main>

  <div class="container w-100">
    <footer class="py-3 my-3 ">
      <ul class="nav justify-content-center border-bottom pb-2 mb-1">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"></a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"></a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"></a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"></a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted"></a></li>
      </ul>
      <p class="text-center text-muted">© 2022 AssisTech, Inc</p>
    </footer>
  </div>





<!-- Scripts -->
<script src="{% static 'vendor/AdminLTE/plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'vendor/AdminLTE/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>
<script src="{% static 'vendor/AdminLTE/dist/js/adminlte.js' %}"></script>
<script src="{% static 'vendor/AdminLTE/plugins/jquery-mousewheel/jquery.mousewheel.js' %}"></script>
<script src="{% static 'vendor/AdminLTE/plugins/raphael/raphael.min.js' %}"></script>
<script src="{% static 'vendor/AdminLTE/plugins/jquery-mapael/jquery.mapael.min.js' %}"></script>
<script src="{% static 'vendor/AdminLTE/plugins/jquery-mapael/maps/usa_states.min.js' %}"></script>
<script src="{% static 'vendor/AdminLTE/plugins/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'vendor/AdminLTE/dist/js/demo.js' %}"></script>  
<script src="{% static 'scripts/masks.js' %}"></script>
<script src="{% static 'scripts/index.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgZc-WY2Z8zaTOK8G0ApbWUkCbJI8TGB8&callback=initMap&v=weekly" async></script>

<!-- JQuery -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'vendor/jQuery/dist/jquery.mask.min.js' %}"></script>
<script>
  $(document).ready(function(){
    $('#cpf').mask('000.000.000-00')
  })
</script>

</body>


</html>
