{% load static %}
{% include 'partials/_head.html'%}
{% load widget_tweaks %}

<body class="hold-transition login-page">
	<div class="login-box w-25">
		<!-- /.login-logo -->
		<div class="card card-outline card-primary">
			<div class="card-header text-center">
				<a href="{% url 'index' %}">
					<img class="w-75" src="{% static 'img/AssisTechflatB.png' %}" alt="">
				</a>
			</div>
			<div class="card-body">
				<p class="login-box-msg"><strong>Redefinir senha</strong></p>
	
				<form method="POST">
					{% csrf_token %}
					<div class="input-group mx-auto mb-3">
						<div class="input-group-append m-3 mx-auto p-0 w-100">
							{% render_field form.email class="form-control w-100" id="new_password2" placeholder="E-mail"%}
							<div class="input-group-text">
								<span class="fas fa-envelope"></span>
							</div>
						</div>
					</div>

					<div class="row d-block w-100 m-0">
						<div class="col-7 mx-auto my-2">
							<button type="submit" class="btn btn-primary btn-block w-100">Recuperar senha</button>
						</div>
					</div>
				</form>

			</div>
		</div>
	</div>
	
	<!-- jQuery -->
	<script src="../../plugins/jquery/jquery.min.js"></script>
	<!-- Bootstrap 4 -->
	<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- AdminLTE App -->
	<script src="../../dist/js/adminlte.min.js"></script>
